* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.featured-container {
	position: relative;
	background-image: url(./images/about-banner.jpeg);
	width: 100%;
	height: 500px;
	background-size: 100% 100%;
}

.featured-image {
	filter: opacity(50%);
}

.featured-image-overlay {
	background-color: rgba(0, 29, 105, 0.7);
	height: 500px;
	transform: skew(-15deg);
	filter: opacity(100%);
	margin-right: 57%;
	margin-left: -100%;
}

.featured-description {
	position: absolute;
	top: 0px;
	color: white;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-top: 80px;
	margin-left: 8%;
	margin: 200px 250px;
}

.section-1 {
	display: flex;
	position: relative;
	text-align: center;
	width: 100%;
	padding: 20px 60px;
	color: #666666;
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-top: 40px;
	align-self: center;
}

.section-2 {
	display: table;
	table-layout: fixed;
	border-spacing: 20px;
	border-collapse: separate;
	position: relative;
	margin: 20px;
	text-align: center;
}

.card {
	display: table-cell;
	width: 33%;
	padding: 40px 40px;
	margin: auto 20px;
	background-color: #f4f4f4;
}

.card:hover {
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card-heading {
	font-family: Varela Round;
	font-size: 20px;
	color: #666666;
}

.card-description {
	font-family: Raleway;
	font-size: 16px;
	color: #666666;
}

.section-3 {
	display: flex;
	position: relative;
	text-align: center;
	width: 100%;
	padding: 20px 60px;
	color: #666666;
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-top: 40px;
	align-self: center;
}

.section-4 {
	display: table;
	table-layout: fixed;
	border-spacing: 20px;
	border-collapse: separate;
	position: relative;
	margin: 20px;
	text-align: center;
}

#section-5 {
	position: relative;
	display: flex;
	background-size: 100% 100%;
}

#section-5>div {
	align-self: center;
	font-family: Varela Round;
	width: 100%;
	text-align: center;
}

.section-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 60px 0px;
	background-color: #000c78;
}

.section-6>div {
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: white;
}

.section-6 button {
	font-family: 'Raleway', sans-serif;
	margin-top: 40px;
	padding: 10px 20px;
	background-color: #000c78;
	color: white;
	border: #f4f4f4 solid;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.section-6 button:hover {
	background-color: #8487ab;
	border: #0000 solid;
	padding-right: 40px;
	transition: 200ms;
}

.section-6 button:hover, span {
	background-color: #8487ab;
	border: #0000 solid;
	padding-right: 40px;
	transition: 200ms;
}

.button {
	font-family: 'Raleway', sans-serif;
	margin-top: 40px;
	background-color: #000c78;
	color: white;
	font-size: 20px;
	font-weight: 500;
}

.button span {
	transition: 0.3s;
}

.button:before, .button:after {
	position: absolute;
	align-self: center;
	opacity: 0;
}

.button:before {
	content: attr(data-hover);
}

.button:hover span {
	opacity: 0;
	padding-right: 20px;
}

.button:hover:before {
	opacity: 1;
}

.button:hover {
	background-color: #8487ab;
}

@media screen and (max-width: 800px) {
	.featured-container {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 250px;
		background-size: 100% 100%;
	}
	
	.featured-image-overlay {
		background-color: rgba(0, 29, 105, 0.7);
		height: 500px;
		transform: skew(-15deg);
		filter: opacity(100%);
		margin-right: 30%;
		margin-left: -100%;
	}

	.featured-description {
		position: absolute;
		flex: auto;
		align-self: flex-end;
		width: 100%;
		color: white;
		text-align: center;
		margin: auto;
		top: 30%;
		right: 20%;
	}
	.featured-container img {
		display: inline;
		width: 64px;
	}
	.section-2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.card{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: auto;
		margin: auto;
		margin-bottom: 20px;
		width: 100%;
		height: 40vh;
		
	}

	.section-4 {
		display: flex;
		flex-direction: column;
	}
	.section-4>div {
		margin: auto;
		margin-bottom: 20px;
		width: 100%;
	}
	#section-5 div {
		font-size: 22px !important;
	}
}