*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.featured-container{
    position: relative;
    background-image: url(./images/about-banner.jpeg);
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
}

.featured-image{
    filter: opacity(50%);
}

.featured-image-overlay{
    background-color: rgba(0,29,105,0.7);
    height: 500px;
    transform: skew(-15deg);
    filter: opacity(100%);
    margin-right: 57%;
    margin-left: -100%;
}

.featured-description{
    position: absolute;
    top: 0px;
    color: white;
    text-align: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin-top: 80px;
    margin-left: 8%;
}

.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#add, #tel, #eml{
    float: left;
}

.mrg{
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #666666;
}

.form{
    margin: 60px 50px;
    width: 60%;
}

.form h2{
    font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: #666666;
}

form{
    width: 100%;
}

#in{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#mr{
    margin: 20px 0;
}

#in > textarea{
    margin: 10px 0;
}

#in > button{
    margin: 10px 0;
    padding: 12px 30px;
    justify-self: right;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #001d69;
    background: transparent;
    border: 2px solid #001d69;
}

.cd h1{
    padding: 60px;
    font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 26px;
	color: #666666;
}

.cd div{
    font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #666666;
}

::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.cd div, .cd p{
    padding-left: 20px;
}

#jt{
    padding-left: 50px;;
}

.button{
	font-family: 'Raleway', sans-serif;
    margin-top: 40px;
	background-color: #000c78;
	color: white;
	font-size: 20px;
    font-weight: 500;
}

.button span {
    transition: 0.3s;
}

.button:before, .button:after{
    position: absolute;
    align-self: center;
    opacity: 0;
}

.button:before{
    content: attr(data-hover);
}

.button:hover span{
    opacity: 0;
    padding-right: 20px;
}

.button:hover:before{
    opacity: 1;
}

@media screen and (max-width: 800px){
    .featured-container{
        display: flex;
        flex-direction: column;
        position: relative;
        background-image: url(./images/featured_container.jpeg);
        width: 100%;
        height: 500px;
        background-size: 100% 100%;
    }
    
    .featured-image-overlay{
        background-color: rgba(0,29,105,0.7);
        transform: skew(360deg);
        filter: opacity(80%);
        margin-right: 0%;
        margin-left: 0%;
        height: 50%;
        margin: auto;
        flex: auto;
        align-self: flex-end;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .featured-description{
        position: absolute;
        flex: auto;
        align-self: flex-end;
        width: 100%;
        color: white;
        text-align: center;
		margin: 50% auto;
		top: 15%;
    }

    .featured-container img{
        display: none;
	}
    .section-1{
        display: flex;
        flex-direction: column;
    }

    #add, #tel, #eml{
        float: unset;
    }

    .cd{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cd h1{
        padding: 60px;
        font-family: 'Varela Round', sans-serif;
	    font-weight: 500;
	    font-size: 26px;
	    color: #666666;
    }

    .cd div, .cd p{
        padding-left: 0px;
        margin: auto;
    }

    #mr{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input1{
        padding-left: 0;
        float: unset;
        margin: 10px 10px;
        width: 100%;
    }

    #in textarea{
        margin: 10px 10px;
    }
}