.f1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "f1 f2";
    background-color: #161616;
    height: 385px;
}

.reachus{
	grid-area: f1;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	margin-left: 138px;
	margin-top: 65px;
}

.reachus h3, .reachus h2{
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: white;
	/* margin-top: 30px; */
	margin-bottom: 5px;
}

.reachus h2{
    margin-top: 25px;
}

.reachus img{
    display: inline;
    padding-left: 10px;
}

.reachus p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: white;
	margin-top: 8px;
}

.list{
	grid-area: f2;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.list h3{
	font-family: 'Varela Round', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: white;
	margin-top: -40px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.list p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: white;
	/* margin-top: 10px; */
	overflow: scroll;
    width: 70%;
    height: 50%;
	margin-left: 30px;
	line-height: 24px;
}

.f2{
    display: flex;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
    color: #666666;
    height: 385px;
    background-color: black;
    height: 50px;
}

.f2 p{
    margin-left: 135px;
    display: inline;
	padding: 20px 0;
}

@media screen and (max-width: 800px){

    .reachus{
        grid-area: f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        padding-bottom: 20px;
    }
    .reachus h3, .reachus h2{
        font-family: 'Varela Round', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: white;
    }
    
    .reachus img{
        display: inline;
    }
    
    .reachus p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: white;
    }

    .list{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        height: 350px;
        margin-left: 20px;
    }
    
    .list h3{
        font-family: 'Varela Round', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: white;
        margin: 0;
        padding: 0;
    }
    
    .list p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: white;
        margin-top: 10px;
        overflow: scroll;
        width: 70%;
        margin: 0;
    }

    .f1{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0;
        color: rgba(255, 255, 255, 0.61);
        height: 550px;
    }

    .f2{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .f2 p{
        padding: 0;
        margin: auto;
    }
    
}