a{
    text-decoration: none;
    color: #333333;
}

.new-btn{
    font-family: 'Raleway', sans-serif;
	margin-top: 40px;
	padding: 10px 20px;
	background-color: #000c78;
	color: white;
	border: #f4f4f4 solid;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.new-btn:hover{
	background-color: #8487ab;
	border:#0000 solid;
	padding-right: 40px;
	transition: 200ms;
}

header{
    position: fixed;
    z-index: 1;
    height: 180px;
    /* overflow: hidden; */
    transition: 0.4s;
    width: 100%;
}
#nav-main{
    /*border: seagreen solid;*/
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0% 1%;
    background-color: white;
}
#logo-container{
    /*border: solid red;*/
    display:flex;
    margin: 0 40px 0 120px;
}
#nav-menu{
    color: #333333;
    font-weight: 600;
    font-size: 20px;
    font-family: Varela Round, Helvetica, sans-serif;
    /*border: springgreen solid;*/
    width: 100%;
    align-self:center;
}

main{
    padding-top: 180px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 1.5%;
}

.dropdown-content a {
  color: #666666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  font-family: Varela Round, Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #fcfcfc;
    color: rgba(102, 102, 102, 0.6);
}

#dropdown-btn:hover .dropdown-content{
    display: block;
}

#nav-menu li{
    /*border: teal solid;*/
    display: inline-flex;
    margin: 0.7%;

}

#nav-menu ul{
    display: flex;
    flex-direction: column;
    
}

.dropdownbtn{
    overflow: hidden;
}


.dropdown-content{
    position: absolute;
    display: none;
    background-color: tomato;
}
.dropdown-content li{
    position: absolute;
    display: block;
}

.active{
    color: #262a62;
}

@media screen and (max-width: 600px){

}