.new-btn {
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #000c78;
    color: white;
    border: #f4f4f4 solid;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.new-btn:hover {
    background-color: #8487ab;
    border: #0000 solid;
    padding-right: 40px;
    transition: 200ms;
}

header {
    position: fixed;
    z-index: 1;
    height: 120px;
    transition: 0.4s;
    width: 100%;
}

#nav-main {
    display: flex;
    background-color: white;
    width: 100%;
}

#nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    color: #333333;
    font-weight: 600;
    font-size: 20px;
    font-family: Varela Round, Helvetica, sans-serif;
    width: 100%;
    align-self: center;
    height: 170px;
}

#nav-menu a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-self: center;
    /* padding: 1vh 1vh; */
}

#nav-menu li {
    display: flex;
    list-style-type: none;
    margin: 0 1vw;
    font-size: 3vh;
}

#site_logo {
    margin: 1px 9vw;
}

#nav-menu button,#site_logo_mobile{
    display: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.5%;
}

.dropdown-content a{
    color: #666666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    font-family: Varela Round, Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #fcfcfc;
    color: rgba(102, 102, 102, 0.6);
}

#dropdown-btn:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    position: absolute;
    display: block;
}

.active {
    color: #262a62;
}

main {
    padding-top: 150px;
}

@media screen and (max-width: 800px) {
    #nav-main {
        flex-direction: column;
    }
    #nav-main ul {
        flex-direction: column;
        text-align: center;
    }
    #nav-menu{
        height: unset;
        padding: 0 40px;
    }
    #nav-menu li {
        display: none;
        margin: 0;
    }
    #site_logo{
        margin: 0px 0px;
        align-self: center;
        display: none;
    }
    #nav-menu a {
        display: block;
    }
    #nav-menu a:hover {
        background-color: cadetblue;
    }
    #nav-menu button {
        display: block;
        padding: 2vw;
        font-size: 3vh;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-end;
        padding: 20px 20px;
    }

    #site_logo_mobile{
        position: absolute;
        display: inline;
        margin: auto;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }


    header {
        height: unset;
    }
    main {
        padding-top: 9vh;
    }
}